#---------------------------------------------------------------------
# main frontend which proxys to the backends
#---------------------------------------------------------------------
frontend bluechi-agent
    bind /var/lib/haproxy/bluechi-agent.sock
    default_backend bluechi-agent

#---------------------------------------------------------------------
# round robin balancing between the various backends
#---------------------------------------------------------------------
backend bluechi-agent
    balance     roundrobin
    server  bluechi-agent {{ manager_address }}:2021 ssl crt /var/lib/haproxy/cert verify required ca-file /var/lib/haproxy/ca-certificate.pem
